[Unit]
Description=Pi Security Camera
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python /home/pi/pisec/securityCamera.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
